body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
}
h1{
    text-align: center;
    color: #fff;
}
.color-change{
    color: #fff;
    text-align: center;
    padding: 50px;
}
#color-button{
    padding: 30px;
    border-radius: 40px;
}
.greeting{
    color: #fff;
    text-align: center;
    padding: 50px;
}
.calculator{
    color: #fff;
    text-align: center;
    padding: 50px;
}
button{
    padding: 5px;
    border-radius: 15px;
    border-color:aqua;
}
#num1,#num2,#add-button,#greeting-button{
    padding: 20px;
    border-radius: 20px;
}
